section {
  background-color: #fbf7e3;
  color: #612406;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2em;
  overflow: hidden;
  font-size: 0.6em;
  display: flex;

  width: 90%;
  margin: 20px auto;
}

section div,
section article {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}

section article {
  padding: 1.5em;
}

section div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
