.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 2em;
  overflow: hidden;
  background-color: #fbf7e3;
  color: #612406;
  font-family: Arial, Helvetica, sans-serif;
}

.card img {
  object-fit: cover;
  width: 100%;
}

article button {
  background-color: #f3df85;
  width: 60%;
  border-radius: 2em;
  margin-bottom: 1em;
}

.card-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: unset;
}

h4 {
  display: flex;
  flex-direction: column;
}

h4 p {
  font-weight: 100;
}

h5 {
  font-size: 1.3em;
  font-weight: 100;
}
