.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  border-radius: 4em;
  overflow: hidden;
  background-color: #fbf7e3;
  color: #612406;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 350px;
}

.card img {
  object-fit: cover;
  width: 100%;
  flex-grow: 1;
}

article button {
  background-color: #f3df85;
  width: 60%;
  padding: 10px 20px;
  border-radius: 2em;
  margin-bottom: 1.5em;
  border: none;
  font-size: 1em;
}

.card-text {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: unset;
  flex-grow: 0;
  flex-shrink: 0;
}

h4 {
  display: flex;
  flex-direction: column;
}

h4 p {
  font-weight: 100;
  margin: 0;
}

h5 {
  font-size: 1.3em;
  font-weight: 100;
}
